/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,700i,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,800i&display=swap');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(css/animate.min.css);
@import url(css/normalize.css);
@import url(css/icomoon.css);
@import url(css/font-awesome.min.css);
@import url(css/meanmenu.css);
@import url(css/owl.carousel.min.css);
@import url(css/swiper.min.css);
@import url(css/slick.css);
@import url(css/jquery.fancybox.min.css);
@import url(css/jquery-ui.css);
@import url(css/nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
     box-sizing: border-box !important;
}

html {
     scroll-behavior: smooth;
}

body {
     color: #666666;
     font-size: 14px;
     font-family: 'Poppins', sans-serif;
     line-height: 1.80857;
     font-weight: normal;
}

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

h1 {
     font-size: 24px;
}

h2 {
     font-size: 18px;
}

h3 {
     font-size: 18px;
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1
}

button:focus {
     outline: none;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

p {
     margin: 0px;
     font-weight: 500;
     font-size: 15px;
     line-height: 24px;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}

a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

img {
     max-width: 100%;
     height: auto;
}

 :focus {
     outline: 0;
}

.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
     border: none !important;
}

.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

.full {
     float: left;
     width: 100%;
}

.full {
     width: 100%;
     float: left;
     margin: 0;
     padding: 0;
}


/**-- heading section --**/


/*---------------------------- preloader area ----------------------------*/

.loader_bg {
     position: fixed;
     z-index: 9999999;
     background: #fff;
     width: 100%;
     height: 100%;
}

.loader {
     height: 100%;
     width: 100%;
     position: absolute;
     left: 0;
     top: 0;
     display: flex;
     justify-content: center;
     align-items: center;
}

.loader img {
     width: 280px;
}


/*-- header area --*/


/*-- sidebar  navigation--*/

.sidepanel {
     width: 0;
     position: fixed;
     z-index: 9999;
     height: 100%;
     top: 0;
     left: 0;
     background-color: #000000;
     overflow-x: hidden;
     transition: 0.5s;
     padding-top: 60px;
}

.sidepanel a {
     padding: 8px 8px 8px 32px;
     text-decoration: none;
     font-size: 18px;
     color: #fff;
     display: block;
     transition: 0.3s;
}

.sidepanel a:hover {
     color: #fcc10e;
}

.sidepanel .closebtn {
     position: absolute;
     top: 0;
     right: 25px;
     font-size: 36px;
}

.openbtn {
     font-size: 20px;
     cursor: pointer;
     background-color: transparent;
     padding: 10px 15px;
     border: none;
}

.sidepanel .openbtn{
     background-color: transparent;
     color: white;
     padding: 0px;
}

.panelTitle h3 {
     font-size: 30px;
     margin-left: 0px;
     color: #fcc10e;
     background-color: rgb(28, 27, 27);
     padding: 20px;
}

/*-- marker-end sidebar  navigation--*/

.sea_icon a {
     color: #8c8c8c !important;
}

.right_bottun {
     float: right;
}

.header {
     width: 100%;
     padding: 30px 30px;
     height: 15%;
     background: #03cafc1d;
     position: fixed;
     z-index: 999;
}

.logo {
     text-align: center;
     margin-top: -33px !important;
     max-width: 100px;
     padding: 15px 0 28px 0;
     margin: 0 auto;
}

.logo, img{
     border-radius: 10px;
}


/** banner section **/

.banner_main {
     background: url(../images/banner.jpg);
     padding: 310px 0px 0px 0px;
     background-size: 100% 100%;
     background-repeat: no-repeat;
     min-height: 914px;
}

.text-bg {
     text-align: center;
}

.text-bg h1 {
     color: #fff;
     font-size: 89px;
     line-height: 91px;
     /* padding-bottom: 45px; */
     font-weight: bold;
     /* text-transform: uppercase; */
     letter-spacing: 0px;
     text-align: center;
}

.text-bg span {
     color: #fff;
     font-weight: bold;
     font-size: 56px;
     line-height: 60px;
     text-transform: uppercase;
     letter-spacing: 50px;
}

.text-bg ul.social_team {
     margin-top: 90px;
}

.text-bg ul.social_team li a {
     color: #fff;
}

.text-bg .read_more {
     margin-top: 70px !important;
     color: #1a1a1a !important;
     font-weight: 500;
     display: block;
     margin: 0 auto;
}

.text-bg .read_more:hover {
     background: #fcc10e;
     color: #000 !important;
}

#banner1 .carousel-caption {
     position: inherit;
     padding: 0;
}

#banner1 .carousel-indicators {
     display: none;
}

#banner1 .carousel-control-prev,
#banner1 .carousel-control-next {
     width: 40px;
     height: 40px;
     background: transparent;
     opacity: 1;
     font-size: 30px;
     color: #858686;
     border-radius: 60px;
     top: 100%;
}

#banner1 .carousel-control-prev:hover,
#banner1 .carousel-control-next:hover,
#banner1 .carousel-control-prev:focus,
#banner1 .carousel-control-next:focus {
     color: #f6f8f7;
}

#banner1 a.carousel-control-prev {
     position: absolute;
     left: inherit;
     right: 60px;
}

#banner1 a.carousel-control-next {
     position: absolute;
     right: 20px;
     bottom: 10px;
}


/** end banner section **/

.titlepage h2 {
     font-size: 40px;
     color: #2a2a2c;
     line-height: 45px;
     font-weight: bold;
     padding: 0;
}

.d_flex {
     display: flex;
     align-items: center;
     flex-wrap: wrap;
}

.read_more {
     font-size: 17px;
     background-color: #fff;
     color: #000;
     padding: 15px 0px;
     width: 100%;
     max-width: 198px;
     text-align: center;
     display: inline-block;
     transition: ease-in all 0.5s;
     font-weight: 500;
     border-radius: 10px;
     text-transform: uppercase;
}

.read_more:hover {
     background: #03cafc;
     color: #fff !important;
     transition: ease-in all 0.5s;
}


/** about section **/

.about {
     padding: 50px 0 0px 0;
     background-color: #fdfdfd;
}

.about .about_img {
     margin-left: -76px;
}

.about_right {
     padding-top: 30px;
}

.about_right figure {
     margin: 0;
}

.about_right figure img {
     width: 100%;
}

.about .about_img figure {
     margin: 0;
}

.about .titlepage {
     background: #fff;
}

.about .titlepage p {
     border: #000 solid 1px;
     padding: 30px 20px;
     color: #2a2a2c;
     font-size: 17px;
     line-height: 32px;
     font-weight: 400;
     margin-top: 20px;
}

.about .read_more {
     border: #1a1a1a solid 2px;
     color: #1a1a1a;
     font-weight: 500;
     margin-top: 44px;
}

.about .roadmap{
     width: 90%;
     padding-top: 20px;
}


/** end about section **/


/** software section **/

.software {
     background-color: #240082;
     margin-top: 90px;
}

.software .titlepage h2 {
     color: #fff;
}

.software .software_img figure {
     margin: 0;
}

.software .software_img figure img {
     height: 660px;
}

.software .titlepage {
     max-width: 539px;
     width: 100%;
     float: right;
}

.software .titlepage p {
     color: #fff;
     font-size: 17px;
     line-height: 35px;
     font-weight: 400;
     margin-top: 30px;
     border: #fff solid 1px;
     padding: 40px 40px;
}

.software .read_more {
     margin-top: 50px;
}

.software .read_more:hover {
     background-color: #fcc10e;
}


/** end software section **/


/** We Do section **/

.we_do {
     background-color: #fff;
     padding-top: 90px;
}

.we_do .titlepage {
     text-align: center;
     padding-bottom: 60px;
}

.we_do .titlepage p {
     font-size: 17px;
     line-height: 30px;
     font-weight: 400;
     padding-top: 10px;
     color: #070101;
}

.we_do .we_box {
     padding: 30px 30px 60px 30px;
     text-align: center;
     border: #00a8f0 solid 1px;
     border-radius: 10px;
     transition: ease-in all 0.5s;
     margin-bottom: 30px;
     height: 490px;
}

.we_do .we_box span {
     font-weight: bold;
     font-size: 30px;
     color: #000000;
     border: #00a8f0 solid 2px;
     width: 65px;
     height: 65px;
     display: block;
     margin: 0 auto;
     line-height: 67px;
     border-radius: 44px;
     background-color: #fff;
     transition: ease-in all 0.5s;
}

.we_do .we_box h3 {
     padding: 30px 0px 20px 0px;
     color: #070101;
     font-size: 25px;
     line-height: 30px;
     font-weight: bold;
     transition: ease-in all 0.5s;
}

.we_do .we_box p {
     font-size: 17px;
     color: #010103;
     line-height: 32px;
     transition: ease-in all 0.5s;
}

#hover_color:hover.we_box {
     background-color: #00a8f0;
     transition: ease-in all 0.5s;
}

#hover_color:hover.we_box span {
     color: #00a8f0;
     transition: ease-in all 0.5s;
}

#hover_color:hover.we_box h3 {
     color: #fff;
     transition: ease-in all 0.5s;
}

#hover_color:hover.we_box p {
     color: #fff;
     transition: ease-in all 0.5s;
}

.we_do .read_more {
     margin-top: 40px !important;
     margin: 0 auto;
     display: block;
     background-color: #070101;
     color: #fff;
}

.we_do .read_more:hover {
     background-color: #fcc10e;
}


/** end We Do section **/


/** Our  team section **/

.team {
     background: #00a8f0;
     margin-top: 90px;
     padding: 90px 0 60px 0;
}

.team .titlepage {
     text-align: center;
     padding-bottom: 60px;
}

.team .titlepage h2 {
     color: #fff;
}

.team .titlepage p {
     font-size: 17px;
     line-height: 30px;
     font-weight: 400;
     padding-top: 10px;
     color: #fff;
}

.team .team_box {
     text-align: center;
     margin-bottom: 30px;
}

.team .team_box figure {
     margin: 0;
}

.social_box {
     background: #fff;
     margin: -67px 20px 0px 20px;
     z-index: 900;
     position: relative;
     padding: 23px 0;
}

.team .social_box h3 {
     color: #00a8f0;
     font-size: 17px;
     line-height: 20px;
     padding: 12px 0px 9px 0px;
}

.team .social_box p {
     color: #030108;
     font-size: 16px;
     line-height: 20px;
     font-weight: 400;
}

ul.social_team li {
     display: inline-block;
}

ul.social_team li a {
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 25px;
     border-radius: 60px;
     margin: 0 15px;
     color: #00a8f0;
}


/** end Our  team section **/


/** contact section **/

.contact {
     margin-top: 90px;
     background: #fff;
}

.contact .titlepage {
     text-align: center;
     padding-bottom: 60px;
}

.contact .titlepage p {
     font-size: 17px;
     font-weight: 400;
     padding-top: 10px;
     color: #070101;
}

.con_bg {
     background-color: #00a8f0;
}

.padding_right2 {
     padding-right: 0;
}

#map {
     height: 100%;
     min-height: 732px;
}

.main_form {
     margin-top: 70px;
     font-family: 'Roboto', sans-serif;
     max-width: 553px;
     width: 100%;
     float: right;
     padding-left: 15px;
}

.main_form .contactus {
     border-bottom: #ffffff solid 1px;
     margin-bottom: 25px;
     width: 100%;
     height: 57px;
     background: transparent;
     color: #ffffff;
     font-size: 18px;
     font-weight: normal;
     border-top: inherit;
     border-left: inherit;
     border-right: inherit;
}

.main_form .contactusmess {
     border-bottom: #ffffff solid 1px;
     margin-bottom: 25px;
     width: 100%;
     padding-top: 40px;
     padding-bottom: 14px;
     background: transparent;
     color: #ffffff;
     font-size: 18px;
     font-weight: normal;
     border-top: inherit;
     border-left: inherit;
     border-right: inherit;
}

.send_btn {
     background: #fcc10e;
     font-weight: 500;
     font-size: 18px;
     width: 198px;
     color: #fff;
     height: 52px;
     margin-top: 20px;
     transition: ease-in all 0.5s;
     text-transform: uppercase;
}

.send_btn:hover {
     background: #4b4b4c;
     transition: ease-in all 0.5s;
}

#request *::placeholder {
     color: #ffffff;
     opacity: 1;
}

ul.location_form li {
     font-size: 17px;
     color: #fff;
     text-align: left;
     margin-top: 35px;
     line-height: 26px;
     display: inline-block;
     padding-right: 10px;
}

ul.location_form li a {
     font-size: 30px;
     color: #fff;
     line-height: 30px;
     padding-right: 9px;
}

.main_form ul.social_icon li a:hover {
     background-color: #fcc10e;
}


/** end contact section **/


/** testimonial section **/

.testimonial {
     padding: 90px 0 70px 0;
}

.testimonial .titlepage {
     text-align: center;
     padding-bottom: 60px;
}

.testimonial .titlepage p {
     color: #2a2a2c;
     font-size: 17px;
     line-height: 29px;
     padding-top: 10px;
}

.testimonial_box h3 {
     color: #2a2a2c;
     font-size: 17px;
     line-height: 24px;
     margin-top: -8px;
     font-weight: 600;
     transform: skew(20deg);
     float: left;
     padding-left: 44px;
}

.testimonial_box p {
     color: #2a2a2c;
     font-size: 17px;
     line-height: 32px;
     transform: skew(20deg);
     padding: 11px 43px;
     display: inline-block;
     font-style: italic;
     font-weight: 400;
}

.testimonial_Carousel .carousel-caption {
     position: inherit;
     padding: 0;
}

.testimonial_box {
     border: #a19f9e solid 1px;
     padding: 40px 0px 40px 0px;
     float: left;
     text-align: center;
     transform: skew(-20deg);
     margin: 120px 63px 27px 74px;
     box-shadow: 0px 0px 46px rgba(3, 3, 3, 0.13);
}

.blu {
     color: #00a8f0;
     text-transform: initial;
     float: left;
}

.testimonial_box figure {
     margin: 0;
     float: left;
     margin-top: -160px;
     margin-left: -22px;
     transform: skew(20deg);
}

.testimonial_box i img {
     transform: skew(20deg);
}

#myCarousel .carousel-indicators {
     bottom: -70px;
}

#myCarousel .carousel-indicators li {
     width: 45px;
     height: 12px;
     border-radius: 20px;
     background: #00a8f0;
}

#myCarousel .carousel-indicators .active {
     background: #000000;
}

#myCarousel .carousel-control-prev,
#myCarousel .carousel-control-next {
     display: none;
}


/** end testimonial section **/


/** footer **/

.footer {
     background: #1b1b1b;
     padding-top: 90px;
     margin-top: 90px;
     text-align: center;
}

.footer h3 {
     color: #fff;
     font-size: 40px;
     font-family: 'Noto Serif', serif;
     line-height: 40px;
     text-align: left;
     padding-bottom: 20px;
}

.footer p {
     font-family: 'Open Sans', sans-serif;
     color: #fff;
     font-size: 17px;
     line-height: 28px;
     text-align: left;
     padding-right: 60px;
}

ul.location_icon {
     font-family: 'Open Sans', sans-serif;
     text-align: center;
}

ul.location_icon li {
     font-size: 17px;
     color: #fff;
     text-align: left;
     padding: 9px 0px;
     display: flex;
     align-items: center;
     line-height: 26px;
}

ul.location_icon li a {
     font-size: 30px;
     color: #fff;
     line-height: 30px;
     padding-right: 20px;
}

.news_form {
     text-align: left;
     margin-top: 15px;
}

.news_form .letter_form {
     font-family: 'Open Sans', sans-serif;
     height: 45px;
     width: 46%;
     padding: 0 13px;
     font-size: 17px;
     border: inherit;
}

.news_form .sumbit {
     padding: 7px 15px;
     margin-left: -4px;
     font-size: 18px;
     background: #00a8f0;
     color: #fff;
}

.news_form .sumbit:hover {
     background-color: #000;
}

ul.social_icon {
     padding-top: 30px;
     float: left;
     text-align: center;
}

ul.social_icon li {
     display: inline-block;
}

ul.social_icon li a {
     background: transparent;
     border: #fff solid 1px;
     width: 47px;
     height: 47px;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 25px;
     border-radius: 60px;
     margin: 0 4px;
     color: #fff;
}

ul.social_icon li a:hover {
     background-color: #00a8f0;
}

.copyright {
     margin-top: 80px;
     padding-bottom: 20px;
     background: #fbfdfd;
}

.copyright p {
     color: #292929;
     font-size: 18px;
     line-height: 22px;
     text-align: center;
     padding-top: 25px;
     font-weight: normal;
     padding-right: 0 !important;
}

.copyright a {
     color: #292929;
}

.copyright a:hover {
     color: #00a8f0;
}


/** end footer **/


